<?xml version="1.0" encoding="utf-8"?><rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
        <channel>
                <config>
			<logfile>rssgrab.log</logfile>
			<target_dir>./grabbed/</target_dir>
		</config>
		<feed>
                        <url></url>
                        <title></title>
                        <filetype></filetype>
                        <item>
			        <string></string>
				<exception></exception>
			</item>
                </feed>
	</channel>
</rss>
